######################################################################
# Below is mostly taken from the web. Common things to ignore for C++
######################################################################

# Compiled files
*.slo
*.lo
*.o
*.Plo
*.so
*.dylib
*.lai
*.la
*.a

# Temporary files
*.swp
*~
*#
.#*

# Backup files
*.bk
*.backup

# Ctags files
tags
TAGS

# Build files
Makefile
Makefile.in
*.deps/

# Other version control systems
.svn/

# Callgrind output
callgrind.out.*

# Doxygen output
latex/
html/
*header.html
*txt_doxygenified.*

# OOMPH-LIB result directory
RESLT

########################################
# Executables 
########################################
lagrange_square/sq_po
lagrange_square/sq_van
