######################################################################
# Below is mostly taken from the web. Common things to ignore for C++
######################################################################

# Compiled files
*.slo
*.lo
*.o
*.Plo
*.so
*.dylib
*.lai
*.la
*.a

# Temporary files
*.swp
*~
*#
.#*

# Backup files
*.bk
*.backup

# Ctags files
tags
TAGS

# Build files
Makefile
Makefile.in
*.deps/

# Other version control systems
.svn/

# Callgrind output
callgrind.out.*

# Doxygen output
latex/
html/
*header.html
*txt_doxygenified.*

# OOMPH-LIB result directory
RESLT
Validate

########################################
# Executables 
########################################
lagrange_square/sq_po
lagrange_square/sq_van
lagrange_square/sq_tf_po
lagrange_step/step_po
lagrange_step/step_van
lagrange_sqcurve/sqcurve_po_dirichletall
lagrange_sqcurve/sqcurve_po_dirichletside
lagrange_sqcurve/sqcurve_po_neumannside
lagrange_cube/cube_lgr

# Folders
lagrange_sqcurve/res_loop_sqcurve_po_dirichletside/
lagrange_sqcurve/res_loop_sqcurve_po_neumannside/
lagrange_square/res_loop_sq_tf_po/
lagrange_square/res_loop_sq_tf_po_free_po_lgr/
lagrange_square/res_loop_sq_tf_po_pin_po_lgr/
lagrange_square/ray_temp/

#output files
*.output
lagrange_bifurcation/loop_ns1.dat
lagrange_bifurcation/loop_amg.dat
lagrange_bifurcation/junk.dat

old


